# Database Configuration
DB_NAME=quickfixgh$quickfix_db
DB_USER=root
DB_PASSWORD=@theAsibu0896
DB_HOST=quickfixgh.mysql.pythonanywhere-services.com
DB_PORT=3306

# Django Secret Key
SECRET_KEY=django-insecure-your-secret-key-here

# Email Configuration
EMAIL_HOST_USER=dreambizaccess@gmail.com
EMAIL_HOST_PASSWORD=luvi bkih lthd xjnv

# Environment
DEBUG=True

# Google Drive Storage Configuration
USE_GOOGLE_DRIVE_STORAGE=False
GOOGLE_DRIVE_STORAGE_JSON_KEY_FILE=path/to/your/service-account-key.json
GOOGLE_DRIVE_STORAGE_FOLDER_ID=your-google-drive-folder-id
GOOGLE_DRIVE_STORAGE_MAKE_PUBLIC=True