{% extends 'base.html' %} 
{% load static %} 
{% block title %}Reset Password{% endblock %} {% block extra_css %}



{% endblock %}

{% block content %}
<div>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div
              >
                <i></i>
              </div>
              <h2>Reset Password</h2>
              <p>
                Enter your email address and we'll send you a link to reset your
                password.
              </p>
            </div>

            {% if form.errors %}
            <div>
              <div>
                <i></i>
              </div>
              <div>
                <h5>
                  Please correct the following errors:
                </h5>
                <div>
                  {% for field, errors in form.errors.items %} 
                    {% for error in errors %}
                    <div>{{ error }}</div>
                    {% endfor %} 
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}

            <form method="post">
              {% csrf_token %}

              <div>
                <label for="id_email">
                  Email Address
                </label>
                <div>
                  <span>
                    <i></i>
                  </span>
                  <input
                    type="email"
                    id="id_email"
                    name="email"
                    placeholder="Enter your email address"
                    required
                  />
                </div>
              </div>

              <div>
                <button type="submit">
                  <i></i>
                  Send Reset Link
                </button>
              </div>
            </form>

            <div>
              <a
                href="{% url 'accounts:login' %}"
              >
                <i></i>
                Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
