{% extends 'base.html' %} {% load static %} 
{% block title %}Password Reset Sent{% endblock %} {% block extra_css %}

{% endblock %}

{% block content %}
<div>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div
              >
                <i></i>
              </div>
              <h2>Check Your Email</h2>
              <p>
                We've sent you an email with instructions to reset your
                password. Please check your inbox and follow the link provided.
              </p>

              <div
              >
                <div>
                  <div>
                    <i></i>
                  </div>
                  <div>
                    <h3>
                      Didn't receive the email?
                    </h3>
                    <div>
                      Check your spam folder or try requesting another reset
                      email.
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <a
                  href="{% url 'accounts:login' %}"
                >
                  <i></i>
                  Back to Login
                </a>
                <a
                  href="{% url 'accounts:password_reset' %}"
                >
                  <i></i>
                  Send Another Email
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
