{% extends 'base.html' %} 
{% load static %} 
{% block title %}Set New Password{%endblock %} 
{% block extra_css %}

{% endblock %}

{% block content %}
<div>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div
              >
                <i></i>
              </div>
              <h2>Set New Password</h2>
              <p>
                Please enter your new password below.
              </p>
            </div>

            {% if validlink %}
            {% if form.errors %}
            <div>
              <div>
                <i></i>
              </div>
              <div>
                <h5>
                  Please correct the following errors:
                </h5>
                <div>
                  {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                      <div>{{ error }}</div>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}

            <form method="post">
              {% csrf_token %}

              <div>
                <label for="id_new_password1">
                  New Password
                </label>
                <div>
                  <span>
                    <i></i>
                  </span>
                  <input
                    type="password"
                    id="id_new_password1"
                    name="new_password1"
                    placeholder="Enter new password"
                    required
                  />
                  <button
                    type="button"
                    onclick="togglePassword('id_new_password1')"
                  >
                    <i></i>
                  </button>
                </div>
              </div>

              <div>
                <label for="id_new_password2">
                  Confirm New Password
                </label>
                <div>
                  <span>
                    <i></i>
                  </span>
                  <input
                    type="password"
                    id="id_new_password2"
                    name="new_password2"
                    placeholder="Confirm new password"
                    required
                  />
                  <button
                    type="button"
                    onclick="togglePassword('id_new_password2')"
                  >
                    <i></i>
                  </button>
                </div>
              </div>

              <div>
                <button type="submit">
                  <i></i>
                  Set New Password
                </button>
              </div>
            </form>
            {% else %}
            <div>
              <div
              >
                <i></i>
              </div>
              <h3>Invalid Reset Link</h3>
              <p>
                The password reset link is invalid or has expired. Please
                request a new password reset.
              </p>
              <a
                href="{% url 'accounts:password_reset' %}"
              >
                <i></i>
                Request New Reset
              </a>
            </div>
            {% endif %}

            <div>
              <a
                href="{% url 'accounts:login' %}"
              >
                <i></i>
                Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function togglePassword(fieldId) {
    const field = document.getElementById(fieldId);
    const button = field.nextElementSibling;
    const icon = button.querySelector("i");

    if (field.type === "password") {
      field.type = "text";
      icon.classList.remove("fa-eye");
      icon.classList.add("fa-eye-slash");
    } else {
      field.type = "password";
      icon.classList.remove("fa-eye-slash");
      icon.classList.add("fa-eye");
    }
  }
</script>
{% endblock %}
